
#container{
  height: 100vh;
  width: 100vw;
  background-image: url("https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fbbsfiles.vivo.com.cn%2Fvivobbs%2Fattachment%2Fforum%2F201610%2F15%2F174322i2t2vpr2z72ptoit.jpg&refer=http%3A%2F%2Fbbsfiles.vivo.com.cn&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1625905639&t=92a4c4c4f8cb386d0603e5ce7a55a988");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.tips{
  width: 100vw;
  height: 50px;
  margin: 10px auto;
  text-align: center;
  color: #222222;
  font-weight: bold;
  font-size: 18px;
}
